@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
:root,
[data-bs-theme=light] {
    --color-100: #FFFFFF;
    --color-150: #6C757D;
    --color-200: #8391A2;
    --color-300: #8BC34A;
    --color-400: #0ACf97;
    --color-500: #FFB64B;
    --color-600: #0D6EFD;
    --color-700: #E91E63;
    --color-800: #727CF5;
    --color-body: #EEEEEE;
    --border-radius: .375rem;
    --font-family: "Varela Round", sans-serif;
    --box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
}
body {
    font-family: var(--font-family);
    background-color: var(--color-body);
    scroll-behavior: smooth;
}

/*---- =======================
NAVBAR START -----------*/
.navbar.navbar > .container > .navbar-collapse > .navbar-nav a.nav-link {
    display: flex;
    font-size: .78rem;
    align-items: center;
    flex-direction: column;
}
.navbar.navbar > .container > .navbar-collapse > .navbar-nav a.nav-link > svg {
    margin-bottom: .2rem;
    font-size: 1.2rem;
}
@media only screen and (max-width: 768px) {
    .navbar.navbar > .container > .navbar-collapse > .navbar-nav a.nav-link {
        flex-direction: row;
    }
    .navbar.navbar > .container > .navbar-collapse > .navbar-nav a.nav-link > svg {
        margin-right: 1rem;
        font-size: .8rem;
    }
}
/*---- =======================
NAVBAR END -------------*/

/*---- =======================
MAIN START -------------*/
main.main {
    padding: 2rem 0;
}
@media only screen and (max-width: 768px) {
    main.main {
        padding: 1rem 0;
    }
}
/*---- =======================
MAIN END ---------------*/

/*---- =======================
FIELD START ------------*/
.input-password > svg {
  position: absolute;
  padding: .2rem .4rem .1rem .4rem;
  right: .4rem;
  font-size: 2rem;
  cursor: pointer;
  background-color: var(--bs-body-bg);
  border-radius: var(--border-radius);
  transform: translateY(-2.4rem);
}
.form-control:focus {
  border-color:#7298E6;
  box-shadow:0 0 0 .25rem rgba(114, 152, 230, .25);
}
/*---- =======================
FIELD END --------------*/

/*---- =======================
BUTTON START -----------*/
.btn {
    padding: .56rem .6rem;
    font-size: .75rem;
    text-transform: uppercase;
    box-shadow: none;
    border-radius: .25rem;
}
.btn.btn-sm {
    padding: .4rem .5rem .2rem .5rem !important;
    font-size: .7rem !important;
}
.btn.btn-lg {
    padding-top: .825rem !important;
    padding-bottom: .7rem !important;
}
.btn-150 {
    color: #FFF !important;
    border-color: var(--color-150) !important;
    background-color: var(--color-150) !important;
}
.btn-150:hover,
.btn-150:focus {
    background-color: #616970 !important;
}
.btn-400 {
    color: #FFF !important;
    border-color: var(--color-400) !important;
    background-color: var(--color-400) !important;
}
.btn-400:hover,
.btn-400:focus {
    background-color: #09BF8C !important;
}
.btn-700 {
    color: #FFF !important;
    border-color: var(--color-700) !important;
    background-color: var(--color-700) !important;
}
.btn-700:hover,
.btn-700:focus {
    background-color: #D11B59 !important;
}
.btn-800 {
    color: #FFF !important;
    border-color: var(--color-800) !important;
    background-color: var(--color-800) !important;
}
.btn-800:hover,
.btn-800:focus {
    background-color: #666FDC !important;
}
/*---- =======================
BUTTON END -------------*/

/*---- =======================
CARD START -------------*/
.card {
    border: none !important;
    box-shadow: var(--box-shadow);
}
.card .card-body.d-flex svg {
    font-size: 2rem !important;
    opacity: .6;
}
.card .card-footer {
    padding: 0 1rem 1rem 1rem !important;
    border-top: none !important;
}
/*---- =======================
CARD END ---------------*/